@import url('https://memorable-ui.netlify.app/styles/main.css');

body {
    background-color: var(--primary-color);
}
:root {
    --white-color:#fff;
    --black-color:#000000;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
}

img {
    width: 100%;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-box {
    width: 600px;
    /* height: 500px; */
    margin: 0 auto;
    background-color: var(--white-color);
    padding: 10px 50px 50px 50px;
    border: 3px solid #fff;
    border-radius: 5px;
    
}

.quiz-box h1 {
    background-color: var(--primary-color);
    font-size: 4rem;
    text-align: center;
    color: var(--white-color);
    padding: 10px 0;
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 3px;    
}

.quiz-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.quiz-header #count-down {
    font-size: 1.6rem;
    font-weight: 700;
    background-color: var(--danger-color);
    padding: 5px;
    margin: 1px;
    color: var(--white-color);
    border-radius: 5px;
}
.quiz-box #question {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--primary-color);
    border: 1px solid var(--black-color);
    border-width: 1px 0;
    padding: 5px 0;
}
.buttons {
    margin: 1.5rem 0 4rem 0;
}
#score {
    color: var(--black);
    text-align: center;
    font-size: 2rem;
    margin-bottom: 4rem;
}
.quiz-repeat { 
    text-align: center;
    margin: 0 auto;
}
.quiz-repeat a {
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    background-color: var(--danger-color);
    padding: 1rem;
    border-radius: 5px;
    transition: all .3s;
}

